<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthmate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.midwife.pasien.view.FormInputAncActivity"></activity>
        <activity android:name=".menu.midwife.pasien.view.FormRiwayatAncActivity" />
        <activity
            android:name=".menu.midwife.pasien.view.MainDetilPasienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.midwife.pasien.view.MainPasienMidwifeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu.reusable.view.ListLocationActivity" />
        <activity android:name=".menu.midwife.profile.view.UbahProfileMidwiveActivity" />
        <activity
            android:name=".menu.midwife.main.MainMidwiveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.mom.rapor.view.MainRaporActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu.reusable.view.MasterListActivity" />
        <activity android:name=".menu.mom.checkup.view.CheckupActivity" />
        <activity android:name=".menu.mom.kia.view.MainKiaActivity" />
        <activity
            android:name=".menu.mom.covid.view.ScreeningCovidActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.auth.view.ValidasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.mom.main.MainMomActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.intro.view.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.auth.view.SigninActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>